<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598374682089-ui5uv98omljrmgfj7hb1ljp6b8sija9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598374682089-ui5uv98omljrmgfj7hb1ljp6b8sija9d</string>
	<key>API_KEY</key>
	<string>AIzaSyAaUh94WJhuem13he9u0stk9WKK4R9sHQY</string>
	<key>GCM_SENDER_ID</key>
	<string>598374682089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-chat-ap-bcbad</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-chat-ap-bcbad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598374682089:ios:ce31d5542d6b249486cf78</string>
</dict>
</plist>